
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        ...</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse in">
      <div class="panel-body" align="left">
      <h4> Be incisive </h4>
    <p> Remember, you can only change production from suppliers that you selected at the beginning of the year, you cannot begin production with a supplier once the production schedule has started. Go ahead and place your orders in the Production Room.
    </p>
    
    </div>
  </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        continue</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body" align="left"><h4> Lead Time </h4>
    <p> Keep in mind that the Lead Time will affect the availibilty of the product to the consumers. You need to be making a decision based on the quality. Saving on cost is the prime objective.
    </p>
    </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        continue</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body" align="left"><h4> Capacity </h4>
    <p>If the vendor does't offer enough capacity you'll have to choose a different vendor.
    </p>
    </div>
    
    </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse41">
        continue</a>
      </h4>
    </div>
    <div id="collapse41" class="panel-collapse collapse">
      <div class="panel-body" align="left"><h4> Starting Month </h4>
    <p> Not every month will have the same sales growth so make your decision with starting month of the vendor in mind. Plan ahead.
    </p>
</div>
</div>
</div></div>
