
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        ...</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse in">
      <div class="panel-body" align="left"><p>In recent years, the number of new products being introduced has increased dramatically. At the same time, the average life cycle of products continues to shrink. Many new products become obsolete soon after they hit shelves.</p>
      <p>The challenge facing managers is to predict the demand for their goods more accurately and use production resources wisely so that supply better matches customer demand. This often requires rethinking the supply chain to make it more responsive to market and actual demand.</p>
    
    </div>
  </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        continue</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body" align="left"><p>This is particularly true for high technology products such as computers and consumer electronics, but it is also true for products such as apparel, footwear, and household appliances.
    </p>
    <p> New technologies like POS scanners can provide data about the demand, helping managers resolve some of these problems.
          However, to capitalize on such technologies, managers also need better strategies that allow them to more accurately predict and fulfill demand in a rapidly changing global economy.</p>
    </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        continue</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body" align="left"><p>
    The consequences arising from this proliferation of new products can distress both manufacturers and retailers because they lead to mounting inventories of obsolete products, frequent markdowns, and write offs and stock outs of hot-selling items.
    </p>
    
    </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse41">
        continue</a>
      </h4>
    </div>
    <div id="collapse41" class="panel-collapse collapse">
      <div class="panel-body" align="left"><p>Retailers have responded to the increased risks by becoming lean. They try to reduce their risk by requiring manufacturers to replenish stock quickly on an ongoing basis.
    </p>
</div>
</div>
</div></div>
