
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
        ...</a>
      </h4>
    </div>
    <div id="collapse14" class="panel-collapse collapse in">
      <div class="panel-body" align="left">
      <p>
    You will be the Supply Chain Manager responsible for production of two new lines of mobile phones. You will be able to make key decisions and see the impact of your decisions on the performance of your company.</p>
    <p> Learn more about the products and your required decisions by reading through Your First Day As Supply Chain Manager.
    </p>
    <p>
    .  
    </p>
    
     
    </div>
  </div>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        continue</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body" align="left"><p>
    You are in charge of releasing tablet. Our sales season is Jan through December—there is uncertain demand before May or after December. And to make things simple, we anticipate the demand to be consistent over these months.
    </p>
    <p>
    There are various options that you can add to the phones. Choose carefully, because options can add or detract from sales. Don't worry—your team of forecasters will help you with your choices, and you'll meet them soon. I'll warn you though: they are an unpredictable bunch.
    </p>
    </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
        continue</a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body" align="left"><p>
    You are in charge of releasing tablet. Our sales season is Jan through December—there is uncertain demand before May or after December. And to make things simple, we anticipate the demand to be consistent over these months.
    </p>
    <p>
    There are various options that you can add to the phones. Choose carefully, because options can add or detract from sales. Don't worry—your team of forecasters will help you with your choices, and you'll meet them soon. I'll warn you though: they are an unpredictable bunch.
    </p>
    </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
        continue</a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
      <div class="panel-body" align="left"><p>
    When the board meeting ends, return to the Design Room to start the next year. You will repeat the cycle of design, forecasting, production, and board evaluation for four years. At the end of the simulation, you'll be a rich and successful business person...or out of a job. Good luck!
    </p>
    </div>
    </div>
  </div>
</div>
</div>
