{% load staticfiles %}
<div class="container-fluid" style = "background-color: #B45FBC;">
<img src='{% static "img/iima.png" %}' alt="logo"  height="75" style="padding-left: 15px; padding: 10px; " >

</div>

<nav class="navbar fixed-top navbar-expand-md navbar-dark double-nav scrolling-navbar" style="background-color: #243a51;">


  
    <div class="navbar-header">

      <a style="color: white;" class="navbar-brand" href="#"><b>Supply Chain Simulations</b></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a  style="color: white;" href="#"><b>Information</a></b></li>
      
      <li><a style="color: white;" href="#"><b>Reports </a></b></li>
      <li><a style="color: white;" href="#"><b>Make Decisions </b></a></b></li>
    </ul>
  </div>
</nav>
</a>
</li>
</a>
</li>
</ul>
</nav>
</nav>



