{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load staticfiles %}



{% block jquery %}

var month1 = parseInt({{ product.month1 }});
var month2 = parseInt({{ product.month2 }});
var month3 = parseInt({{ product.month3 }});
var month4 = parseInt({{ product2.month4 }});
var month5 = parseInt({{ product2.month5 }});
var month6 = parseInt({{ product2.month6 }});
var month7 = parseInt({{ product3.month7 }});
var month8 = parseInt({{ product3.month8 }});
var month9 = parseInt({{ product3.month9 }});
var month10 = parseInt({{ product4.month10 }});
var month11 = parseInt({{ product4.month11 }});
var month12 = parseInt({{ product4.month12 }});
var monthly_order4 = month4+parseInt({{ product.monthly_order3 }});
var monthly_order5 = month5+parseInt({{ product.monthly_order3 }});
var monthly_order6 = month6+parseInt({{ product.monthly_order3 }});
var monthly_order7 = month7+parseInt({{ product2.monthly_order3 }});
var monthly_order8 = month8+parseInt({{ product2.monthly_order3 }});
var monthly_order9 = month9+parseInt({{ product2.monthly_order3 }});
var monthly_order10 = month10+parseInt({{ product3.monthly_order3 }});
var monthly_order11 = month11+parseInt({{ product3.monthly_order3 }});
var monthly_order12 = month12+parseInt({{ product3.monthly_order3 }});

$('#Apr1').html(monthly_order4);

$('#May1').html(monthly_order5);

$('#Jun1').html(monthly_order6);

$('#Jul1').html(monthly_order7);

$('#Aug1').html(monthly_order8);

$('#Sep1').html(monthly_order9);

$('#Oct1').html(monthly_order10);

$('#Nov1').html(monthly_order11);

$('#Dec1').html(monthly_order12);
var sales1 = 10;
var sales2 = 10;
var sales3 = 10;
var sales4 = 10;
var sales5 = 10;
var sales6 = 10;
var sales7 = 10;
var sales8 = 10;
var sales9 = 10;
var sales10 = 10;
var sales11 = 10;
var sales12 = 10;

$('#Jan2').html(sales1);

$('#Feb2').html(sales2);

$('#Mar2').html(sales3);

$('#Apr2').html(sales4);

$('#May2').html(sales5);

$('#Jun2').html(sales6);

$('#Jul2').html(sales7);

$('#Aug2').html(sales8);

$('#Sep2').html(sales9);

$('#Oct2').html(sales10);

$('#Nov2').html(sales11);

$('#Dec2').html(sales12);

var inv1 = Math.max(0,month1-sales1);
var inv2 = Math.max(0,month2-sales2);
var inv3 = Math.max(0,month3-sales3);
var inv4 = Math.max(0,month4-sales4);
var inv5 = Math.max(0,month5-sales5);
var inv6 = Math.max(0,month6-sales6);
var inv7 = Math.max(0,month7-sales7);
var inv8 = Math.max(0,month8-sales8);
var inv9 = Math.max(0,month9-sales9);
var inv10 = Math.max(0,month10-sales10);
var inv11 = Math.max(0,month11-sales11);
var inv12 = Math.max(0,month12-sales12);

$('#Jan3').html(inv1);

$('#Feb3').html(inv2);

$('#Mar3').html(inv3);

$('#Apr3').html(inv4);

$('#May3').html(inv5);

$('#Jun3').html(inv6);

$('#Jul3').html(inv7);

$('#Aug3').html(inv8);

$('#Sep3').html(inv9);

$('#Oct3').html(inv10);

$('#Nov3').html(inv11);

$('#Dec3').html(inv12);

var product_vendor1 = (parseInt({{ product.monthly_order1 }})+parseInt({{ product2.monthly_order1 }})+parseInt({{ product3.monthly_order1 }}))*350;

var product_vendor2 = parseInt({{ product.monthly_order2 }})+ parseInt({{ product2.monthly_order2 }})+ parseInt({{ product3.monthly_order2 }})*300;

var product_vendor3 = parseInt({{ product.monthly_order3 }})+ parseInt({{ product3.monthly_order2 }})+ parseInt({{ product3.monthly_order3 }})*280;
var total_product_cost = product_vendor1+product_vendor2+product_vendor3;

$('#product').html(total_product_cost);

var inventory_cost = (inv1+inv2+inv3+inv4+inv5+inv6+inv7+inv8+inv9+inv10+inv11+inv12)*10;
$('#inventory').html(inventory_cost);
var total_cost = total_product_cost+inventory_cost;
$('#totalcost').html(total_cost);











$(document).ready(function(){
	Highcharts.chart('Graph', {
	
    data: {
        table: 'GraphTable'
    },
    chart: {
        type: 'line',
        backgroundColor: '#F8E0F7'
    },
    title: {
        text: 'Your Production Report'
    },
    yAxis: {
        allowDecimals: false,
        title: {
            text: 'Units'
        }
    },
    tooltip: {
        formatter: function () {
            return '<b>' + this.series.name + '</b><br/>' +
                this.point.y + ' ' + this.point.name.toLowerCase();
        }
    }

});
});





{% endblock %}


{% block content %}

<div class="container">
<div class="row">
    <div class="col-md-8">
    <div id="Graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>
<div class="col-md-4">
<table class="table table-striped" >
  <thead>
    <tr>
      <th></th>
      <th>Cost Value</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Product</th>
      <td id="product">item</td>

    </tr>
    <tr>
      <th>Inventory</th>
      <td id="inventory">item</td>

    </tr>
    <tr>
      <th>Total</th>
      <td id="totalcost">item</td>

    </tr>
    <tr>
      <th></th>
      <td ></td>

    </tr>
     <tr>
      <th></th>
      <td ></td>

    </tr>
    <tr>
      <th></th>
      <th >Revenue</th>

    </tr>
    <tr>
      <th>Sales</th>
      <td id="revenue">item</td>

    </tr>
    <tr>
      <th></th>
      <td ></td>

    </tr>
     <tr>
      <th></th>
      <td ></td>

    </tr>
    <tr>
      <th>Margin</th>
      <td id="profit">item</td>


    </tr>
    <tr>
        <th>Profit Margin(%)</th>
        <td id="profitpercentage">item</td>

    </tr>

  </tbody>

</table>
</div>



</div>
<div class="row">
<div id="t1" class="col-md-8">
    <h3> Yearly Planning </h3>
    <h4> Actual Demand| Projections </h4>
    <p> in thousands per month</p>

    <table class="table" id="table1">
  <thead>
    <tr>
      <th>#</th>
      <th>Jan</th>
      <th>Feb</th>
      <th>Mar</th>
      <th>Apr</th>
      <th>May</th>
      <th>Jun</th>
      <th>Jul</th>
      <th>Aug</th>
      <th>Sep</th>
      <th>Oct</th>
      <th>Nov</th>
      <th>Dec</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Ordered</th>
      <td id="Jan1">{{ product.month1 }}</td>
      <td id="Feb1">{{ product.month2 }}</td>
      <td id="Mar1">{{ product.month3 }}</td>
      <td id="Apr1">Mark</td>
      <td id="May1">Otto</td>
      <td id="Jun1">@mdo</td>
      <td id="Jul1">Mark</td>
      <td id="Aug1">Otto</td>
      <td id="Sep1">@mdo</td>
      <td id="Oct1">Mark</td>
      <td id="Nov1">Otto</td>
      <td id="Dec1">@mdo</td>
    </tr>
    <tr>
      <th scope="row">Sales</th>
      <td id="Jan2">Mark</td>
      <td id="Feb2">Otto</td>
      <td id="Mar2">@mdo</td>
      <td id="Apr2">Mark</td>
      <td id="May2">Otto</td>
      <td id="Jun2">@mdo</td>
      <td id="Jul2">Mark</td>
      <td id="Aug2">Otto</td>
      <td id="Sep2">@mdo</td>
      <td id="Oct2">Mark</td>
      <td id="Nov2">Otto</td>
      <td id="Dec2">@mdo</td>
    </tr>
    <tr>
      <th scope="row">Inventory</th>
      <td id="Jan3">Mark</td>
      <td id="Feb3">Otto</td>
      <td id="Mar3">@mdo</td>
      <td id="Apr3">Mark</td>
      <td id="May3">Otto</td>
      <td id="Jun3">@mdo</td>
      <td id="Jul3">Mark</td>
      <td id="Aug3">Otto</td>
      <td id="Sep3">@mdo</td>
      <td id="Oct3">Mark</td>
      <td id="Nov3">Otto</td>
      <td id="Dec3">@mdo</td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-md-4">
   
</div>

</div>


</div>
</div>
<div class="container" style="display:none;">
    <div class ="row">
        <div class= "col-md-6">

<h1 id="forcast">{{ demand.monthly_forcast_update }}</h1>
<h1 id="forcast">{{ demand.monthly_forcast }}</h1>




<h1 id="marketing">{{ item.marketing }}</h1>
<h1 id="discount">{{ item.discount }}</h1>
<h1 id="style">{{ item.style }}</h1>
<h1 id="flavour">{{ item.flavour }}</h1>
<h1 id="unit_cost">{{ item.unit_cost }}</h1>
<h1 id="unit_price">{{ item.unit_price }}</h1>
<h1 id="Jan1">aaa</h1>


</div>
    </div>
    </div>

{{ users }}

<div>
    <div style="display:none;">

<div id = "m1" >{{ m1 }}</div>
<div id = "m2" >{{ m2 }}</div>
<div id = "m3" >{{ m3 }}</div>
<div id = "s1" >{{ sm1 }}</div>
<div id = "s2" >{{ sm2 }}</div>
<div id = "s3" >{{ sm3 }}</div>

<table id="GraphTable">
    <thead>
        <tr>
            <th></th>
            <th>Production</th>
            <th>Sales</th>
            <th>Inventory</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Jan</th>
            <td id ="JanA">1</td>
            <td id ="JanB">2</td>
            <td id ="JanC">3</td>
        </tr>
        <tr>
            <th>Feb</th>
            <td id="FebA">3</td>
            <td id="FebB">4</td>
            <td id="FebC">4</td>
        </tr>
        <tr>
            <th>Mar</th>
            <td id="MarA">3</td>
            <td id="MarB">4</td>
            <td id="MarC">4</td>
        </tr>
        <tr>
            <th>April</th>
            <td id="AprA">3</td>
            <td id="AprB">4</td>
            <td id="AprC">4</td>
        </tr>
        <tr>
            <th>May</th>
            <td id="MayA">3</td>
            <td id="MayB">4</td>
            <td id="MayC">4</td>
        </tr>
        <tr>
            <th>Jun</th>
            <td id="JunA">3</td>
            <td id="JunB">4</td>
            <td id="JunC">4</td>
        </tr>
        <tr><th>Jul</th>
            <td id="JulA">5</td>
            <td id="JulB">3</td>
            <td id="JulC">4</td>

        </tr>
        <tr>
            <th>Aug</th>
            <td id="AugA">3</td>
            <td id="AugB">4</td>
            <td id="AugC">4</td>
        </tr>
        <tr>
            <th>Sep</th>
            <td id="SepA">3</td>
            <td id="SepB">4</td>
            <td id="SepC">4</td>
        </tr>
        <tr>
            <th>Oct</th>
            <td id="OctA">3</td>
            <td id="OctB">4</td>
            <td id="OctC">4</td>
        </tr>
        <tr>
            <th>Nov</th>
            <td id="NovA">3</td>
            <td id="NovB">4</td>
            <td id="NovC">4</td>
        </tr>
        <tr>
            <th>Dec</th>
            <td id="DecA">3</td>
            <td id="DecB">4</td>
            <td id="DecC">4</td>
        </tr>
    </tbody>
</table>
</div>
</div>
{% endblock content %}

